@font-face {
    font-family: 'Roboto Mono';
    src: url('Fonts/RobotoMono-Regular.woff2') format('woff2'),
    url('Fonts/RobotoMono-Regular.woff') format('woff');
}

html{
    font-family:'Roboto Mono';
}

.slides{
    border: 2px solid black;
    flex:1;
    height: 945px;
    
}

#slide1{
    display: flex;
    justify-content: center;
    align-items: center;
}
