@font-face {
    font-family: 'Nasalization';
    src: url('Fonts/Nasalization-Regular.woff2') format('woff2'),
    url('Fonts/Nasalization-Regular.woff') format('woff');
}

body{
    font-family:'Nasalization';
}

.slides{
    border: 2px solid black;
    flex:1;
    height: 945px;
    
}

#slide1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide2{
    display: flex;
    justify-content: center;
    align-items: center;
}
